.zdcontainer {
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.zdgrid {
	display: flex;
	flex-direction: column;

	@media (min-width: 720px){
		flex-direction: row;
	}
}

.zdcell {
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
}