:root {
	--textColor: #4c4c4c;
	--accTextColor: #333333;
	--borderColor: #bfbfbf;

	--font: 'opinionpro';

	--white: #fff;
	--black: #000;
	--blue: #007bff;
	--green: #28a745;
	--red: #dc3545;
	--yellow: #ffc107;
	--turquoise: #17a2b8;
	--dark: #343a40;
	--light: #f8f9fa;
}