:root {
	--textColor: #4c4c4c;
	--accTextColor: #333333;

	--borderColor: #bfbfbf;
}

.zdcontainer {
	padding-top: 3vh;
	padding-bottom: 3vh;
}

.zdgrid {
	display: flex;
	flex-direction: column;

	@media (min-width: 720px){
		flex-direction: row;
	}
}

.zdcell {
	padding-left: 1vw;
	padding-right: 1vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
}

.zpwpcg {

	&__form {
		position: sticky;
		top: 150px;

		@media (min-width: 720px){
			width: 320px;
		}

		label {
			display: block;
			padding-right: 20px;
		}

		input[type="text"],
		textarea,
		select {
			width: 100%;
			height: 2em;
		}

		input {
			&[type="checkbox"] {
				height: 2em;
				width: 2em;
				margin-right: 1em;
			}
		}

		form {
			& > p {
				display: flex;
				& > * {
					flex: 1;
				}

				& > span {
					display: flex;
				}
			}
		}
	}

	&-canvas {
		width: 100%;


		&__wrap {
			width: 100%;
			overflow: auto;
		}
	}

	&-preview {
		position: relative;
		overflow: hidden;
		color: var(--textColor);

		&__body {
			position: absolute;
			top: 25%;
			width: 100%;
			padding-left: 5.6vw;
			padding-right: 2vw;
			font-size: 1.5vw;
			text-align: center;
		}

		&__grid {
			position: absolute;
			top: 60%;
			width: 100%;
			padding-left: 5.6vw;
			padding-right: 2vw;
			font-size: 1.25vw;
			display: table;

			table {
				tr {
					td:first-child {
						width: 25%;
					}
				}
			}
		}

		&__footer {
			position: absolute;
			bottom: 2%;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-left: 5.6vw;
			padding-right: 2vw;
			font-size: 0.75vw;
			column-gap: 1vw;

			&-row {
				flex: 1;

				&--director {
					flex: unset;
					text-align: end;
				}
			}
		}

		&__label {
			font-size: .875vw;
		}

		&__field {

			&--cert-number {
				position: absolute;
				width: 100%;
				text-align: center;
				left: 0;
				top: 12.5%;
				padding-left: 5.6vw;
				padding-right: 2vw;
			}

			&--name {
				font-size: 4vw;
				color: var(--accTextColor);
			}

			&--strong {
				font-weight: bold;
			}

			&--level-desc {
				font-size: 1vw
			}

			&--logo,
			&--address {
				max-width: 8.2vw;
			}

			&--logo {
				padding-bottom: 10px;
				margin-bottom: 10px;
				border-bottom: 1px solid var(--borderColor);
			}

			&--signature {
				width: 8vw;
			}
		}
	}

	&__buttons {
		display: flex;
		column-gap: 15px;

		button {
			flex: 1;
		}
	}
}

.zpwpcg-front {
	&-form {
		&__field {
			&--id {
				display: none;

				&-switcher {
					&:checked {
						& + .zpwpcg-front-form__field--id {
							display: inline-block;
						}
					}
				}
			}
		}
	}
}


@media print {
	header, footer, h1,
	.zpwpcg__form,
	.grecaptcha-badge,
	.footer__copyright {
		display: none!important;
		padding: 0!important;
		margin: 0!important;

	}
	.site-content,
	.zdcontainer,
	.zdcell {
		padding: 0!important;
		margin: 0!important;
	}

	.zpwpcg-canvas {
		display: block!important;
		margin: 0!important;
		padding: 0!important;

	}
}


