@import "vars";
@import "plugin";

body.toplevel_page_zpdevwpcg,
body.zpdev-wpcg_page_zpdevwpcg_students,
body.zpdev-wpcg_page_zpdevwpcg_settings {
	background: linear-gradient(45deg,#4158d0,#c850c0);
	background-attachment: fixed;
	.zpwpcg-adm {
		&__wrap {
			& > p {
				color: var(--white);
			}
		}

		&__title {
			color: var(--white);
		}
	}
}



.zpwpcg-adm {

	&__wrap {
		padding-right: 10px;
		position: relative;

		@media (min-width: 720px){
			padding-right: 20px;
		}

		input[type="text"],
		textarea {
			width: 100%;
		}

		textarea {
			width: 100%;
		}
	}

	&__title {
		margin-bottom: 2rem;;
	}

	&-picture {
		&__preview-wrapper {
			text-align: center;
			margin-bottom: 10px;
			padding: 20px;
			img {
				max-width: 220px;
				height: auto;
				width: 100%;
			}
		}

		&__upload-btn {
			width: 100%;
			background-color: var(--blue);
			color: var(--white);
			border-radius: 5px;
		}
	}

	&-repeater {
		li {
			display: flex;


			& > span {
				flex: 1;
				display: flex;
				flex-wrap: wrap;

				input {

					&:first-child {
						width: 80px;
					}
					&:last-child {
						flex: 1;
					}
				}
			}
		}
	}

	&-canvas {
		max-width: 100%;;
		//background-color: var(--white);
		border-radius: 10px;
		max-height: 92vh;
		width: auto;
		&__wrap {
			text-align: center;
			position: sticky;
			top: 50px;
		}
	}
}